<a href="https://colab.research.google.com/github/khushboo-gehi/Data-Science-Projects-in-Python/blob/main/sk_learn_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
!unzip '/content/drive/MyDrive/Project Portfolio/SL_Project/DS_Python/1574412946_lesson8.zip'

Archive:  /content/drive/MyDrive/Project Portfolio/SL_Project/DS_Python/1574412946_lesson8.zip
 extracting: Lesson 8/Advertising_Budget_and_Sales.zip
 extracting: Lesson 8/Anaconda_Installation_Instructions.zip
 extracting: Lesson 8/Assignment_01.zip

In [4]:
df_ad = pd.read_csv('/content/drive/MyDrive/Project Portfolio/SL_Project/DS_Python/1574412946_lesson8.zip (Unzipped Files)/Lesson 8/Advertising_Budget_and_Sales.zip (Unzipped Files)/Advertising Budget and Sales.csv', index_col=0)

In [5]:
df_ad.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [6]:
df_ad.size

800

In [7]:
df_ad.shape

(200, 4)

In [8]:
df_ad.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

In [10]:
x_feature = df_ad.loc[:, df_ad.columns != 'Sales ($)']
x_feature

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1               230.1                 37.8                     69.2
2                44.5                 39.3                     45.1
3                17.2                 45.9                     69.3
4               151.5                 41.3                     58.5
5               180.8                 10.8                     58.4
..                ...                  ...                      ...
196              38.2                  3.7                     13.8
197              94.2                  4.9                      8.1
198             177.0                  9.3                      6.4
199             283.6                 42.0                     66.2
200             232.1                  8.6                      8.7

[200 rows x 3 columns]

In [13]:
y_target = df_ad['Sales ($)']
y_target.head()

1    22.1
2    10.4
3     9.3
4    18.5
5    12.9
Name: Sales ($), dtype: float64

In [14]:
x_feature.shape
y_target.shape

(200,)

In [15]:
#split
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_feature,y_target, random_state=1)

In [17]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(150, 3)
(50, 3)
(150,)
(50,)

In [19]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(x_train,y_train)

LinearRegression()

In [20]:
print(linreg.intercept_)
print(linreg.coef_)

2.87696662231793
[0.04656457 0.17915812 0.00345046]

In [21]:
y_pred = linreg.predict(x_test)
y_pred

array([21.70910292, 16.41055243,  7.60955058, 17.80769552, 18.6146359 ,
       23.83573998, 16.32488681, 13.43225536,  9.17173403, 17.333853  ,
       14.44479482,  9.83511973, 17.18797614, 16.73086831, 15.05529391,
       15.61434433, 12.42541574, 17.17716376, 11.08827566, 18.00537501,
        9.28438889, 12.98458458,  8.79950614, 10.42382499, 11.3846456 ,
       14.98082512,  9.78853268, 19.39643187, 18.18099936, 17.12807566,
       21.54670213, 14.69809481, 16.24641438, 12.32114579, 19.92422501,
       15.32498602, 13.88726522, 10.03162255, 20.93105915,  7.44936831,
        3.64695761,  7.22020178,  5.9962782 , 18.43381853,  8.39408045,
       14.08371047, 15.02195699, 20.35836418, 20.57036347, 19.60636679])

In [22]:
from sklearn import metrics
import numpy as np

In [23]:
print(np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

1.404651423032895

In [25]:
print('True', y_test.values[0:10])
print()
print('Pred', y_pred[0:10])

True [23.8 16.6  9.5 14.8 17.6 25.5 16.9 12.9 10.5 17.1]

Pred [21.70910292 16.41055243  7.60955058 17.80769552 18.6146359  23.83573998
 16.32488681 13.43225536  9.17173403 17.333853  ]